# Database Configuration
DB_DIALECT=oracle
DB_USER=seu_usuario_db
DB_PASSWD=sua_senha_db
DB_SCHEMA=seu_schema
DB_CONNECTSTRING=host=localhost port=1521 service_name=ORCL

# RabbitMQ Configuration
ENV_RABBITMQ=amqp://usuario:senha@localhost:5672/

# Redis Configuration
ENV_REDIS_ADDRESS=localhost:6379
ENV_REDIS_PASSWORD=
ENV_REDIS_EXPIRE=3600

# HTTP Server Configuration
HTTP_PORT=8080

# Jaeger Tracing Configuration
JAEGER_ENDPOINT=http://localhost:14268/api/traces
TRACING_ENABLED=true
TRACING_SAMPLE_RATE=1.0

# Application Configuration
WORKERS=20